{% include 'menu.html' %}


<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="static/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="static/ckeditor/adapters/jquery.js"></script>
<link href="static/samples/sample.css" rel="stylesheet">






 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning">
    {% for message in messages %}
      <strong><center>{{ message }}</center></strong>
    {% endfor %}
    
  {% endif %}
{% endwith %}
{% block body %}{% endblock %} 

    </div>


	
      <div class="col-md-8 col-md-offset-1">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method=POST>
          <fieldset>
            <legend class="text-center">Ajouter un article</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Titre</label>
              <div class="col-md-9">
                <input id="name" name="titre" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
			<!-- Tags input-->
			<div class="form-group">
              <label class="col-md-3 control-label" for="name">Tags</label>
              <div class="col-md-9">
                <input id="tags" name="tags" type="text" placeholder="Tags1;Tags2;..." class="form-control">
              </div>
            </div>

<!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9" id="editor">
                <textarea class="ckeditor" id="editor1" name="editor1" rows='20'> </textarea>
              </div>
            </div>
			
				

	
		<script type="text/javascript">
        CKEDITOR.replace( 'editor1' );
      </script>	
	


		
			
			
			
			
			
			
            
			
    
	
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
	