{% include 'menu.html' %}

      
 {% block article%} 
<div class="container">
<div class="col-md-8">

{% for i in loader %}


	
   <h1>{{i['titre']}}</h1> 
   <p>{{i['content'] | bbcode | safe }}</p>
    <div>
<span class="badge">Auteur : {{i.user.pseudo}}</span><div class="pull-right"><span class="label label-default">{{i['date_post']}}</span> 
</div>
    </div>
 {% endfor %} 		
</div>
</div>
<p></p>

<div class="container">
<div class="col-md-8">
  
            <div class="panel panel-default">
                <div class="panel-body">                
                    <form accept-charset="UTF-8" action="" name='comment' method="POST">
                        <textarea class="form-control counted" name="commentaire" placeholder="Type in your message" rows="1" style="margin-bottom:10px;"></textarea>
                        
                        <button class="btn btn-info" type="submit">Poster</button>
                    </form>
                </div>
            </div>
</div>
	</div>
	

{% endblock %}


{% block comment %} 
<div class="container">
<div class="col-md-8">                       
<h3>Commentaires :</h3>
<!-- /col-sm-12 -->
{% for i in com_loader %}
<!-- /row -->
<!-- /col-sm-1 -->
<div class="panel panel-default">

<div class="panel-heading">



<strong> {{ i.message.user.pseudo}}</strong> <span class="text-muted">le {{ i.date}}</span>  
</div>
<div class="panel-body">
{{ i.content }}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->{% endfor %} 
</div><!-- /col-sm-5 -->
   <hr>
</div>
</div>
{% endblock %}