{% include 'menu.html' %}



<div class="container">
<div class="col-md-8">


{% for i in object_list %}

   <h1>{{i.titre}}</h1>
   <p>{{ i.content[:180] | bbcode | safe}} ...</p>
   
    <div>
	
	<form  action="" name="id" value={{i[0]}} method=POST>
	<a href="{{i.id}}">Lire la suite</a>
	</form>
	
<div>
<p><span class="label label-primary">Auteur : {{i.user.pseudo}}</span> 
<span class="label label-primary">Date : {{i['date_post']}}</span>
Tags: <a href=""><span class="label label-warning">Bootstrap</span></a> <a href=""></a></p>


</div>
    </div>	
	
	
 {% endfor %}
    </div>
 

 
 <div class="text-center"><ul class="pagination pagination-large">
{% if page > 1 %}
  <a href="./?page={{ page - 1 }}">Prev</a>
{% endif %}
{% if page < pagination.get_pages() %}
  <a href="./?page={{ page + 1 }}">Next</a>
{% endif %}


</div>

 

    <hr>
</div>
</div>
