{% include 'menu.html' %}



<div class="container">
<div class="col-md-8">


{% for i in object_list %}

   <h1>{{i.titre}}</h1>
   <p>{{ i.content[:180] | bbcode | safe}} ...</p>
   
    <div>
	
	<form  action="" name="id" value={{i[0]}} method=POST>
	<a href="{{i.id}}">Lire la suite</a>
	</form>
<span class="badge">{{i.user.pseudo}}</span>
	
		<div class="pull-right"><span class="label label-default">{{i.date_post}}</span> 
</div>
    </div>
 {% endfor %} 

 
 <div class="text-center"><ul class="pagination pagination-large">
{% if page > 1 %}
  <a href="./?page={{ page - 1 }}">Prev</a>
{% endif %}
{% if page < pagination.get_pages() %}
  <a href="./?page={{ page + 1 }}">Next</a>
{% endif %}


</div>

 

    <hr>
</div>
</div>
