{% include 'management_menu.html' %}

	

		
		
		<div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Utilisateurs : 
                </div>
                <div class="panel-body">
                    					
	<div class="row">
		<div class="span5">
            <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                      <th>Pseudo</th>
					  
                      <th>Date register</th>
                      <th>Email</th>
					  <th>Nom</th>
					  <th>Prénom</th>
                      <th>voir</th>                                          
                  </tr>
              </thead>   
              <tbody>
			  {% for util in loader %}
                <tr>
                    <td>{{util.pseudo}}</td>
                    <td>{{util.date_register}}</td>
                    <td>{{util.email}}</td>
					<td>
					<form  action="" name="id" value={{util.id}} method=POST>
					<a href="{{util.id}}"><span class="label label-success">Voir</span></a>
					</form>
					
                    
                    </td>                                       
                </tr>
				{% endfor %}                            
              </tbody>
            </table>  
	</div>
	</div>
            </div>
		</div>	

	
            
			
			
			
			
	
		
		<footer class="pull-left footer">
			<p class="col-md-12">
				
			</p>
		</footer>